{% load social_share %}
{% load i18n %}

<ul class="list-inline">
  <li class="list-inline-item">{% post_to_facebook object "" %}</li>
  <li class="list-inline-item">{% send_whatsapp object.title object "" %}</li>
  <li class="list-inline-item">{% send_email object.title "{{object.title}}" object "" %}</li>
  <li class="list-inline-item">{% post_to_twitter "{{object.title}}" object "" %}</li>
  <li class="list-inline-item">{% post_to_linkedin object.title object "" %}</li>
  <li class="list-inline-item">{% post_to_reddit "{{object.title}}" object "" %}</li>
  <li class="list-inline-item">{% post_to_gplus object "" %}</li>
  <li class="list-inline-item">{% post_to_telegram "{{object.title}}" object "" %}</li>
</ul>
