{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load imagekit %}

{% block extra_head %}
    <link href="{% static "css/smbs-shop.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Products" %}</h1>
    {% if shop_settings.enable_custom_attribute_filtering %}
        <form method="get" class="form-inline mb-4">
            {% for filter_name, filter_values in custom_filters.items %}
                <label class="mr-2">{{ filter_name|title }}</label>
                {% for value in filter_values %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="{{ filter_name }}" value="{{ value }}" id="{{ filter_name }}_{{ forloop.counter }}">
                        <label class="form-check-label" for="{{ filter_name }}_{{ forloop.counter }}">{{ value }}</label>
                    </div>
                {% endfor %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">{% trans "Filter" %}</button>
        </form>
    {% endif %}
    <div class="row">
        {% for item in object_list %}
            <div class="col-xs-12 col-md-4 mb-5 p-3">
                <article class="h-100">
                    <a href="{% url 'shop:item_detail' item.slug %}" class="card-link text-dark">
                        <div class="card border-0 h-100">
                            <figure>
                                {% generateimage 'smbs_shop:cover600x600' source=item.cover_image -- alt=item.title class="card-img-top" style="width: 100%; height: auto" loading="lazy" %}
                            </figure>
                            <div class="card-body d-flex flex-column">
                                <h3 class="card-title"><b>{{ item.title }}</b></h3>
                                <p class="card-text">{{ item.description|truncatewords:50 }}</p>
                                {% for custom_attr in item.custom_attributes.all %}
                                    <p class="card-text"><b>{{ custom_attr.name }}:</b> {{ custom_attr.value }}</p>
                                {% endfor %}
                                <h4 class="text-center"><strong>${{ item.get_effective_price }} {{ currency }}</strong></h4>
                                <form action="{% url 'shop:add_to_cart' item.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary btn-block btn-sm">{% trans "Add to Cart" %}</button>
                                </form>
                            </div>
                        </div>
                    </a>
                </article>
                <br><br>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
