{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load imagekit %}

{% block extra_head %}
    <link href="{% static "css/smbs-shop.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <figure>
                {% generateimage 'smbs_shop:cover1200x1200' source=object.cover_image -- alt=object.title class="img-fluid mb-3 border rounded" style="width: 100%" %}
            </figure>
        </div>
        <div class="col-xs-12 col-md-6">
            <h2 class="text-primary shop-item-title">{{ object.title }}</h2>
            <p>{{ object.description }}</p>
            <h4><strong>${{ object.get_effective_price }} {{ currency }}</strong></h4>
            <p>{{ object.stock_quantity }} in stock</p>
            <form action="{% url 'shop:add_to_cart' object.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="quantity">{% trans "Quantity" %}</label>
                    <input type="number" name="quantity" id="quantity" value="1" min="1" max="{{ object.stock_quantity }}" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary btn-block">{% trans "Add to Cart" %}</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
            <h3>{% trans "Related Items" %}</h3>
            <div class="row">
                {% for related_item in object.get_related_items %}
                    <div class="col-xs-12 col-md-4 mb-5 p-3">
                        <article class="h-100">
                            <a href="{% url 'shop:item_detail' related_item.slug %}" class="card-link text-dark">
                                <div class="card border-0 h-100">
                                    <figure>
                                        {% generateimage 'smbs_shop:cover600x600' source=related_item.cover_image -- alt=related_item.title class="card-img-top" style="width: 100%; height: auto" loading="lazy" %}
                                    </figure>
                                    <div class="card-body">
                                        <h3 class="card-title"><b>{{ related_item.title }}</b></h3>
                                        <p><b>{% trans "Product Description" %}</b></p>
                                        <p class="card-text">{{ related_item.description|truncatewords:30 }}</p>
                                        <ul class="smbs-custom-attrs">
                                            {% for custom_attr in custom_attributes %}
                                                <li><b>{{ custom_attr.name }}:</b> {{ custom_attr.value }}</li>
                                            {% endfor %}
                                        </ul>
                                        <p><b>{% trans "Price" %}</b></p>
                                        <p class="card-text"><b>{{ related_item.get_effective_price }} {{ currency }}</b></p>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <br><br>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
